/* Meggan Smith, Lesson 3 Start CSS, WEB 210.0001 */


/* 
https://coolors.co/dbcdc6-ead7d1-dd99bb-7b506f-1f1a38
--pale-silver: #dbcdc6ff; 219, 205, 198         -grey tan
--champagne-pink: #ead7d1ff; 234, 215, 209      -light pink/beige
--kobi: #dd99bbff; 221, 153, 187                -pink
--twilight-lavender: #7b506fff; 123, 80, 111    -mauve purple
--dark-purple: #1f1a38ff; 31, 26, 56            -dark dark purple
*/

/* Global Style
----------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #1f1a38ff;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Della Respira', serif;
    line-height: 1.5;
}
a {
    color: #ead7d1ff;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
.font-effect-3d-float {       /* to keep color consistent when using font-effect*/
    color: #ead7d1ff;
}

h1 {
    color: #ead7d1ff;
    font-family: 'Dancing Script', cursive;;
    font-size: 110px;
    line-height: 1.2;
}
h2 {   
    font-size: 45px;
}
h1, h2 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    
}


/* Profile
---------------------------------*/
header {
    background: #7b506fff;
    color: #ead7d1ff;
}


/* Projects
----------------------------------*/
.projects {
    background: #dd99bbff;
    
}
img {
    width: 300px;
}
.projects a {
    color: #1f1a38ff;

}
.projects .btn {
    color: #ead7d1ff;
    background: #7b506fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(123, 80, 111, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #1f1a38ff;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}

/* Work Experience
----------------------------------*/
.work-experience {
    background: #dbcdc6ff;
}


/* Education
----------------------------------*/




/* Contact 
----------------------------------*/
footer {
    background: #7b506fff;
    color: #ead7d1ff;
}

